/* Импорт шрифтов из Google Fonts */ 
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400'); 
h1, h2, h3, h4, h5, h6 { 
 font-family: 'Playfair Display', serif; 
} 
p, a { 
 font-family: 'Source Sans Pro', sans-serif; 
} 
/* Задаем стили */ 
html { 
 scroll-behavior: smooth; 
} 
a { 
 background-color: #B8860B; 
 text-decoration: none; 
 color: white; 
 border-radius: .25rem; 
 text-align: center; 
 display: inline-block; 
 transition: all .3s; 
} 
a:hover { 
 opacity: .6;
} 
/* Задаем стиль для фоновогой иллюстрации */ 
.hero { 
 /* Выбираем фото для шапки */ 
 background: url('https://img1.akspic.ru/attachments/crops/2/4/7/1/4/141742/141742-voda-nebo-gorizont-poslesvechenie-vodoem-2560x1440.jpg') center;  background-size: cover; 
 padding: 4rem 1rem; 
 /* Задаем стили сетки*/ 
 display: grid; 
 grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
 align-items: center; 
} 
.hero > * { 
 color: white; 
} 
.hero > h1 { 
 font-size: 4rem; 
 padding-bottom: 2rem; 
} 
.hero > article > p { 
 font-size: 1.5rem; 
 font-weight: 200; 
} 
.hero > article > a { 
 padding: 1rem; 
 margin-top: .75rem; 
} 
/* задаем стили для основных колонок сетки при помощи класса breweries */
.breweries { 
 padding: 1rem; 
} 
.breweries > ul { 
 display: grid; 
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));  grid-gap: 2rem; 
} 
.breweries > ul > li { 
 border: 2px solid #E2E2E2; 
 border-radius: .5rem; 
} 
.breweries > ul > li > figure { 
 max-height: 210px; 
 overflow: hidden; 
 border-top-left-radius: .5rem; 
 border-top-right-radius: .5rem; 
 position: relative; 
} 
.breweries > ul > li > figure > img { 
 width: 100%; 
} 
.breweries > ul > li > figure > figcaption { 
 position: absolute; 
 bottom: 0; 
 background-color: rgba(0,0,0,.7); 
 width: 100%; 
}
.breweries > ul > li > figure > figcaption > h3 {  color: white; 
 padding: 1 rem; 
 font-size: 1.25rem; 
} 
.breweries > ul > li > p { 
 font-size: 1rem; 
 line-height: 1.5; 
 padding: 1rem .75rem; 
 color: #666666; 
} 
.breweries > ul > li > a { 
 padding: .5rem 2rem; 
 margin: .5rem; 
} 
/* Тут свойства подвала */ 
footer { 
 background-color: #333; 
 padding: .65rem; 
 color: white; 
 text-align: center; 
 font-size: .75rem; 
}
